<div class="menu-wrapper">
  <div class="center-menu-buttons">
    <div class="center-menu-buttons-inner">
      <div class="menu-logo-wrapper">
        <img class="menu-logo" src="assets/images/logo-bomberman3d.png" />
      </div>
      <div class="menu-button-wrapper">
        <div class="menu-button" [routerLink]="['/new-game']">New game</div>
      </div>
      <div class="menu-button-wrapper">
        <div class="menu-button" [routerLink]="['/settings']">Settings</div>
      </div>
      <div class="menu-button-wrapper">
        <div class="menu-button" [routerLink]="['/credits']">Credits</div>
      </div>
    </div>
  </div>
</div>
