<canvas id="renderCanvas"></canvas>
<div *ngIf="gameMemoryStorage.isGameMode && gameMemoryStorage.currentPlayer && gameMemoryStorage.currentPlayer.stats" class="game-details">
  <div class="row">
    <div class="col-auto">
      <div class="game-details-icon time"></div>
    </div>
    <div class="col">{{gameMemoryStorage.currentPlayer.stats.bombTimeout/1000}}s</div>
    <div class="col-auto">
      <div class="game-details-icon bomb"></div>
    </div>
    <div class="col">{{gameMemoryStorage.currentPlayer.stats.maxBombs-gameMemoryStorage.currentPlayer.stats.currentBombsCount}}</div>
    <div class="col-auto">
      <div class="game-details-icon power"></div>
    </div>
    <div class="col">{{gameMemoryStorage.currentPlayer.stats.bombPower}}</div>
    <div class="col-auto">
      <div class="game-details-icon speed"></div>
    </div>
    <div class="col">{{gameMemoryStorage.currentPlayer.stats.movingSpeed}}</div>
  </div>
</div>
<div id="zone_joystick"></div>
<div *ngIf="gameMemoryStorage.forceMobileControl && gameMemoryStorage.isGameMode" id="zone_joystick_bomb" (click)="placeBomb($event)"
  [class.unavailable]="!gameMemoryStorage.currentPlayer || !gameMemoryStorage.currentPlayer.stats || gameMemoryStorage.currentPlayer.stats.currentBombsCount >= gameMemoryStorage.currentPlayer.stats.maxBombs"></div>
<router-outlet></router-outlet>
