@import '~bootstrap/dist/css/bootstrap.min.css';
html,
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
  font-size: 14px;
  display: flex;
  flex-direction: column;
  line-height: 1em;
  min-width: 320px;
}

.babylonjs-fps {
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  z-index: 10001;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 12px;
  padding: 5px;
  background-color: #7283a0;
  border-radius: 3px;
}

.menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 162, 184, 0.1);
  overflow-y: auto;
  padding: 0 20px;
}

.center-menu-buttons {
  margin: 0 auto;
  width: 100%;
  max-width: 380px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.center-menu-buttons-inner {
  margin: auto;
  max-width: 100%;
}

.menu-wrapper .dropdown-label {
  color: white;
  padding: 10px 0;
}

.disabled-menu-dropdown-button {
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  cursor: pointer;
  background-color: #17a2b8;
  color: white;
  padding: 8px 12px;
}

.menu-wrapper .dropdown button {
  width: 100%;
  border-radius: 0;
  background-color: #17a2b8;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 12px;
}

.menu-wrapper .dropdown-menu {
  width: 100%;
  border-radius: 0;
  background-color: #5bc0de;
  color: white;
  border: none;
}

.menu-wrapper .dropdown-item {
  color: white;
}

.menu-wrapper .dropdown-item:hover {
  background-color: #17a2b8;
}

.menu-logo-wrapper {
  padding: 40px 0;
  text-align: center;
}

.menu-logo {
  max-width: 380px;
  max-height: 150px;
}

.menu-h1 {
  font-size: 22px;
  padding: 20px;
  color: white;
  text-align: center;
}

.menu-h2 {
  font-size: 18px;
  padding: 20px;
  color: white;
  text-align: center;
}

.menu-button-wrapper {
  padding: 20px;
  max-width: 320px;
  margin: 0 auto;
}

.menu-button {
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
  background-color: #17a2b8;
  color: white;
  padding: 0 20px;
}

.menu-button.disabled {
  background-color: #292b2c;
  opacity: .9;
}

.menu-button.cancel {
  background-color: #c9302c;
}

.menu-separator-wrapper {
  padding: 20px 0;
}

.menu-separator {
  border-bottom: 1px solid #17a2b8;
}
