<div class="menu-wrapper">
  <div class="center-credits">
    <div class="credits-top">
      <div class="menu-logo-wrapper">
        <img class="menu-logo" src="assets/images/logo-bomberman3d.png" />
      </div>
    </div>
    <div class="credits-list">
      <h1>Built by</h1>
      <h2>Code:</h2>
      <div class="row">
        <div class="col">
          Game developer:
        </div>
        <div class="col">
          Adrian Nicoara
        </div>
      </div>
      <h2>Assets:</h2>
      <div class="row">
        <div class="col">
          Archer 3D Model
        </div>
        <div class="col">
          <a href="https://opengameart.org/content/animated-archer" target="_blank">Clement Wu, Nikolaus & Botanic</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Female Mage 3D Model
        </div>
        <div class="col">
          <a href="https://opengameart.org/content/animated-female-mage" target="_blank">Clement Wu, Nikolaus & Botanic</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Diablous 3D Model
        </div>
        <div class="col">
          <a href="https://opengameart.org/content/animated-diablous" target="_blank">Clement Wu, Nikolaus & Botanic</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Mage 3D Model
        </div>
        <div class="col">
          <a href="https://opengameart.org/content/animated-mage" target="_blank">Clement Wu, Nikolaus & Botanic</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Rabbit 3D Model
        </div>
        <div class="col">
          <a href="https://www.babylonjs.com/" target="_blank">BabylonJS Samples</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Textures
        </div>
        <div class="col">
          <a href="http://www.wildtextures.com" target="_blank">Wild Textures</a>
        </div>
      </div>
      <h2>Graphics library:</h2>
      <div class="menu-logo-wrapper">
          <a href="https://www.babylonjs.com/" target="_blank"><img class="menu-logo" src="assets/images/logo-babylonjs.svg" /></a>
      </div>
      <h2>Web framework:</h2>
      <div class="menu-logo-wrapper">
          <a href="https://angular.io/" target="_blank"><img class="menu-logo" src="assets/images/logo-angular2.svg" /></a>
      </div>
    </div>
    <div class="credits-top">
      <div class="menu-button-wrapper">
        <div class="menu-button cancel" [routerLink]="['/']">Back</div>
      </div>
    </div>

  </div>
</div>
